.services__section {
    margin-bottom: 30vh;
}

.services__title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.services__itemsList {
    width: 100%;
}

.itemList__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.itemList__item:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--light);
}

.itemList__itemNumber {
    font-size: 50px;
    line-height: 130%;
    text-transform: uppercase;
    opacity: 0.3;
}

/* Mediaqueries  */
@media screen and (max-width: 1000px) {
    .itemList__item {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
}

@media screen and (max-width: 575px)  {
    .itemList__itemNumber {
        font-size: 25px;
    }

    .itemList__item:not(:last-child) {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}


