.button {
    padding: 20px;
    border-radius: 100px;
    border: 1px solid var(--light);
    width: 100%;
    height: 67px;
    text-transform: uppercase;
    transition: all 0.6s ease-in;
}


/* Button filled styles  */
.button.filled {
    background-color: var(--light);
}

.button.filled:hover {
    background-color: transparent;
    color: var(--light);
}


/* Button outlined styles  */
.button.outlined {
    background-color: transparent;
    color: var(--light);
}

.button.outlined:hover {
    background-color: var(--light);
    color: var(--black);
}


/* Button dark outlined styles  */
.button.outlinedDark {
    background-color: transparent;
    border: 1px solid var(--black);
    color: var(--black);
}

.button.outlinedDark:hover {
    background-color: var(--black);
    color: var(--light);
}
