.behance__section {
    margin-bottom: 30vh;
}

.behance__title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.behance__gallery {
    position: relative;
    display: flex;
    height: 175vh;
    overflow: hidden;
    gap: 2vw;
    padding: 2vw;
    margin-bottom: 30px;
}


.behance__column {
    position: relative;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.behance__column:nth-of-type(1) {
    top: -45%;
}

.behance__column:nth-of-type(2) {
    top: -95%;
}

.behance__column:nth-of-type(3) {
    top: -45%;
}

.behance__column:nth-of-type(4) {
    top: -75%;
}

.behance__imgContainer {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.behance__btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.behnace__btnContainer {
    max-width: 428px;
    width: 100%;
    padding: 0 10px;
}

/* Mediaqueries  */
@media screen and (max-width: 1000px) {
    .behance__gallery {
        height: 80vh;
    }

    .behance__column {
        height: 50%;
        width: 33.33%;
    }
}

@media screen and (max-width: 768px) {
    .behance__column:nth-child(n+3) {
        display: none;
    }
    
    .behance__column {
        width: 50%;
    }
}
