.about__section {
    margin-bottom: 150px;
}

.about__title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.about__contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
}

.about__contentWrapperText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    max-width: 400px;
}

.about__contentWrapperImages {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__img2 {
    position: absolute;
    left: 70%;
    top: 20%;
    z-index: 1;
}

.about__img3 {
    position: absolute;
    right: 60%;
    top: 55%;
    z-index: 1;
}