.footer {
    position: relative;
    height: 300px;
}

.footer__inner {
    position: fixed;
    bottom: 0;
    padding-top: 50px;
    height: 250px;
    width: 100%;
}


.footer__topContent, .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__top {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--soft-light);
}

.footer__bottom {
    padding: 50px 0 30px 0;
}

.footer__topNavList {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer__bottomText {
    font-size: 14px;
    color: var(--soft-light);
    text-align: center;
}

.footer__bottomSocialsList {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Mediaqueries  */
@media screen and (max-width: 1000px) {
    .footer {
        height: 400px;
    }

    .footer__inner {
        padding-top: 40px;
        height: 400px;
    }

    .footer__topContent, .footer__bottom {
        flex-direction: column;
        gap: 30px;
    }

    .footer__topNavList {
        flex-direction: column;
        gap: 30px;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column-reverse;
    }
}

