.footer {
    position: relative;
    height: 300px;
}

.footer__inner {
    position: fixed;
    bottom: 0;
    padding-top: 50px;
    height: 300px;
    width: 100%;
}

.footer__topHeadline {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 6vw;
    line-height: 1;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--light);
    margin-bottom: 30px;
    white-space: nowrap;
    text-align: center;
}

.footer__topContent, .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom {
    padding: 30px 0 30px 0;
}

.footer__topNavList {
    display: flex;
    align-items: center;
    gap: 50px;
}

.footer__bottomText {
    font-size: 14px;
    color: var(--soft-light);
    text-align: center;
}

.footer__bottomSocialsList {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Mediaqueries  */
@media screen and (max-width: 1000px) {
    .footer__topContent, .footer__bottom {
        flex-direction: column;
        gap: 30px;
    }

    .footer__topNavList {
        flex-direction: column;
        gap: 30px;
    }

    .footer__bottom {
        display: flex;
        flex-direction: column-reverse;
    }
}

